<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello {{username}}</h1>
<a href="/admin/getnewdata/{{ username }}">更新数据</a>
<a href="/admin/usercontrol/{{ username }}">用户管理</a>
<a href="/admin/commentcontrol/{{ username }}">评论管理</a>
<a href="/admin/changedata/{{ username }}">数据修正</a>

<hr>

<ul>
{% for cmt in cmts %}
    <li>{{ cmt['userid'] }} | {{ cmt['username'] }} | {{ cmt['text'] }} | {{ cmt['uploadtime'] }} | <a href="/admin/commentdelete/{{ username }}/{{ cmt['textid'] }}">删除</a></li>
    <ul>
    {% for subcmt in cmt['subcomments'] %}
        <li style="list-style-type: circle">{{ subcmt['userid'] }} | {{ subcmt['username'] }} | {{ subcmt['text'] }} | {{ subcmt['uploadtime'] }} | <a href="/admin/subcommentdelete/{{ username }}/{{ cmt['textid'] }}">删除</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

</body>
</html>